In [3]:
import pandas as pd

# data Frame using zip
name= ['Alice', 'Bob', 'Charlie', 'David']
age= [24, 27, 22, 32]
city=['New York', 'Los Angeles', 'Chicago', 'Houston']

zip_data = [{'Name':ename, 'Age':eage, 'City':ecity} for ename,eage,ecity in zip(name,age,city) ]
dz = pd.DataFrame(zip_data)
dz

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago
3    David   32      Houston