In [ ]:
import pandas as pd
import numpy as np

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David','Anny', 'Bobby', 'Charter', 'Devendra'],
    'Age': [24, 27, 22, 32, 45, 33, 44, 20],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston','Japan','China','Singapore','India']
}

df = pd.DataFrame(data)
df

In [27]:
#get a smaple of data
df.sample()

       Name  Age   City
7  Devendra   20  India

In [9]:
#get multiple random records
df.sample(n=3)

       Name  Age         City
1       Bob   27  Los Angeles
7  Devendra   20        India
4      Anny   45        Japan

In [25]:
#get specified fraction of records from total
df.sample(frac=0.4)

    Name  Age      City
0  Alice   24  New York
3  David   32   Houston
4   Anny   45     Japan