In [26]:
import pandas as pd
df = pd.DataFrame({
    'A': [1, 88, 3,10,7,0,88],
    'B': [4, 5, 55,6,8,9,20]
})
df

    A   B
0   1   4
1  88   5
2   3  55
3  10   6
4   7   8
5   0   9
6  88  20

In [38]:
#largest 3 number in A column 
df.nlargest(n=3,columns = ['A'])

    A   B
1  88   5
6  88  20
3  10   6

In [45]:
#largest 3 number in A column 
df.nlargest(n=3,columns = 'A')

    A   B
1  88   5
6  88  20
3  10   6

In [43]:
# Get the top 3 rows with the largest values in column 'A',
#and in case of ties, sort by 'B'
df.nlargest(n=3,columns = ['A','B'])

    A   B
6  88  20
1  88   5
3  10   6

In [57]:
#largest 3 number in A column 
df.nlargest(n=3,columns = ['A'], keep='last')

    A   B
6  88  20
1  88   5
3  10   6

In [59]:
#largest 3 number in A column 
df.nlargest(n=3,columns = ['A'], keep='all')

    A   B
1  88   5
6  88  20
3  10   6