In [6]:
import pandas as pd

In [74]:
filepath='C:\\Users\\Admin\\Downloads\\iplauction2023.csv'
#csv file read and get values in Series by using squeeze
s = pd.read_csv(filepath, index_col='name', usecols=['final price (in lacs)', 'name']).squeeze()
s

name
Harshit Rana         20.0
Ekant Sen             NaN
Wayne Parnell         NaN
Shakib Al Hasan     150.0
Joe Root            100.0
                    ...
MS Dhoni           1200.0
Moeen Ali           800.0
Ruturaj Gaikwad     600.0
Rishabh Pant       1600.0
Axar Patel          900.0
Name: final price (in lacs), Length: 309, dtype: float64

In [78]:
# number of non-NA/null observations in the Series
s.count()

238

In [82]:
# get Total values in Series
s.size

309

In [88]:
# get number of null/nan values
s[s.isnull()].size

71

In [92]:
#check whether contains nan values
s.hasnans

True

In [96]:
# to get only missing values
s.loc[s.isnull()]

name
Ekant Sen            NaN
Wayne Parnell        NaN
Prashant Chopra      NaN
Luke Wood            NaN
Dilshan Madushanka   NaN
                      ..
Mujeeb Ur Rahman     NaN
Tabraiz Shamsi       NaN
Adam Milne           NaN
Chris Jordan         NaN
Tom Banton           NaN
Name: final price (in lacs), Length: 71, dtype: float64

In [100]:
# to get only non missing values
s.loc[s.notnull()]

name
Harshit Rana         20.0
Shakib Al Hasan     150.0
Joe Root            100.0
Abdul Basith         20.0
Akeal Hosein        100.0
                    ...
MS Dhoni           1200.0
Moeen Ali           800.0
Ruturaj Gaikwad     600.0
Rishabh Pant       1600.0
Axar Patel          900.0
Name: final price (in lacs), Length: 238, dtype: float64

In [116]:
#Drop missing values, will do the changes in new series not in a existing series 
new_s = s.dropna()
new_s

name
Harshit Rana         20.0
Shakib Al Hasan     150.0
Joe Root            100.0
Abdul Basith         20.0
Akeal Hosein        100.0
                    ...
MS Dhoni           1200.0
Moeen Ali           800.0
Ruturaj Gaikwad     600.0
Rishabh Pant       1600.0
Axar Patel          900.0
Name: final price (in lacs), Length: 238, dtype: float64

In [118]:
#Drop missing values inplace = True will do the changes in existing series not in a new series 
s.dropna(inplace = True)
s

name
Harshit Rana         20.0
Shakib Al Hasan     150.0
Joe Root            100.0
Abdul Basith         20.0
Akeal Hosein        100.0
                    ...
MS Dhoni           1200.0
Moeen Ali           800.0
Ruturaj Gaikwad     600.0
Rishabh Pant       1600.0
Axar Patel          900.0
Name: final price (in lacs), Length: 238, dtype: float64

In [122]:
# replace nan values with desired value
nw = s.fillna(0)
nw

name
Harshit Rana         20.0
Shakib Al Hasan     150.0
Joe Root            100.0
Abdul Basith         20.0
Akeal Hosein        100.0
                    ...
MS Dhoni           1200.0
Moeen Ali           800.0
Ruturaj Gaikwad     600.0
Rishabh Pant       1600.0
Axar Patel          900.0
Name: final price (in lacs), Length: 238, dtype: float64

In [126]:
#sum of all values
s.sum()

87600.0

In [130]:
# mean value
s.mean()

368.06722689075633

In [136]:
# median value
s.median()

150.0

In [138]:
# variance value
s.var()

201663.97014502

In [140]:
# standard deviation
s.std()

449.07011718107003

In [144]:
# mode value, return new series object
s.mode()

0    20.0
Name: final price (in lacs), dtype: float64

In [150]:
#get how many values of mode
m =s[s==20.0]
m

name
Harshit Rana            20.0
Abdul Basith            20.0
Raghav Goyal            20.0
Yudhvir Singh Charak    20.0
Akash Vashist           20.0
Murugan Ashwin          20.0
Anmolpreet Singh        20.0
Shivam Singh            20.0
Mohit Rathee            20.0
Bhagath Varma           20.0
Nehal Wadhera           20.0
Sonu Yadav              20.0
Kunal Singh Rathore     20.0
Ajay Jadav Mandal       20.0
Kulwant Khejroliya      20.0
Nitish Reddy            20.0
Swapnil Singh           20.0
Shams Mulani            20.0
Suyash Sharma           20.0
Vidhwath Kaverappa      20.0
Vishnu Vinod            20.0
Urvil Patel             20.0
Prerak Mankad           20.0
Duan Jansen             20.0
Manoj Bhandage          20.0
Himanshu Sharma         20.0
Sanvir Singh            20.0
Samarth Vyas            20.0
Shaik Rasheed           20.0
Rajat Patidar           20.0
Matheesha Pathirana     20.0
Tristan Stubbs          20.0
Akash Madhwal           20.0
Kumar Kartikeya         20.0
Dhruv Jurel             20.0
Mukesh Choudhary        20.0
Atharva Taide           20.0
Sai Sudharsan           20.0
Sarfaraz Khan           20.0
Subhranshu Senapati     20.0
Jitesh Sharma           20.0
Ramandeep Singh         20.0
Tushar Deshpande        20.0
Ayush Badoni            20.0
Mayank Yadav            20.0
Pradeep Sangwan         20.0
Mohsin Khan             20.0
Simarjeet Singh         20.0
Kuldeep Sen             20.0
Anukul Roy              20.0
Ripal Patel             20.0
Vicky Ostwal            20.0
Darshan Nalkande        20.0
Manan Vohra             20.0
Karan Sharma            20.0
Mohd Arshad Khan        20.0
Baltej Singh            20.0
Hrithik Shokeen         20.0
Kuldip Yadav            20.0
Akash Deep              20.0
Name: final price (in lacs), dtype: float64

In [152]:
m.size

60