In [3]:
import pandas as pd

# data Frame using enumerate
name= ['Alice', 'Bob', 'Charlie', 'David']
age= [24, 27, 22, 32]
city=['New York', 'Los Angeles', 'Chicago', 'Houston']

def  buildDict(value):
    d= {k:v for k,v in enumerate(value)}
    return d

df = pd.DataFrame({'Name':buildDict(name),
                   'Age':buildDict(age),
                   'City':buildDict(city)})
df

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago
3    David   32      Houston