In [51]:
import pandas as pd
import numpy as np 
  
# creating numpy array
a = np.linspace(2.0, 3.0, num=10)
b = np.reshape(a,(2,5))
b

array([[2.        , 2.11111111, 2.22222222, 2.33333333, 2.44444444],
       [2.55555556, 2.66666667, 2.77777778, 2.88888889, 3.        ]])

In [47]:
df = pd.DataFrame(b)
df

          0         1         2         3         4
0  2.000000  2.111111  2.222222  2.333333  2.444444
1  2.555556  2.666667  2.777778  2.888889  3.000000