In [1]:
import pandas as pd
import numpy as np

In [41]:
l = np.arange(1,40,2)
s = pd.Series(l)
s

0      1
1      3
2      5
3      7
4      9
5     11
6     13
7     15
8     17
9     19
10    21
11    23
12    25
13    27
14    29
15    31
16    33
17    35
18    37
19    39
dtype: int32

In [23]:
# access first 10 data
s.head(10)

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
8    17
9    19
dtype: int32

In [43]:
# access data by passing negative value
s.head(-6)

0      1
1      3
2      5
3      7
4      9
5     11
6     13
7     15
8     17
9     19
10    21
11    23
12    25
13    27
dtype: int32

In [31]:
# access last 10 data
s.tail(10)

10    21
11    23
12    25
13    27
14    29
15    31
16    33
17    35
18    37
19    39
dtype: int32

In [45]:
# access data by passing negative value
s.tail(-6)

6     13
7     15
8     17
9     19
10    21
11    23
12    25
13    27
14    29
15    31
16    33
17    35
18    37
19    39
dtype: int32

In [37]:
#access values between 12 to 15
s.head(15).tail(4)

11    23
12    25
13    27
14    29
dtype: int32