In [54]:
import pandas as pd
import numpy as np

In [16]:
#create Series with String
l = ['English','Maths','Computers','Science']
p = pd.Series(l)
p

0      English
1        Maths
2    Computers
3      Science
dtype: object

In [18]:
#create Series with int
ln = [10,20,30,40,50]
pn = pd.Series(ln)
pn

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [42]:
#create Series with float with data argument
lf = [10.5,20.66,30.0,40.67,50.4]
pf = pd.Series(data = lf)
pf

0    10.50
1    20.66
2    30.00
3    40.67
4    50.40
dtype: float64

In [44]:
#create Series with dictonary where default label gets changed
d = {'Sub-01':'English','Sub-02':'Maths','Sub-03':'Computers','Sub04':'Science'}
p = pd.Series(d)
p

Sub-01      English
Sub-02        Maths
Sub-03    Computers
Sub04       Science
dtype: object

In [46]:
#create Series with dictonary hetrogeneous object
dh = {9:10.67,'Sub-02':'Maths','Sub-03':'Computers',True:900}
ph = pd.Series(dh)
ph

9             10.67
Sub-02        Maths
Sub-03    Computers
True            900
dtype: object

In [52]:
#create Series single value
s = pd.Series(100)
s

0    100
dtype: int64

In [60]:
#create Series with nd array
nd = np.array([10,20,30,40,50])
ps = pd.Series(nd)
ps

0    10
1    20
2    30
3    40
4    50
dtype: int32